* {
    background-color: blueviolet;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

img .Darcy {
    width: 30px;
}

table { 
    table-layout: fixed; 
}

td { 
    width: 33%; 
}

h1 {
    font-size: 80px;
    margin-bottom: 0px;
}

nav {
    background-color: violet;
    padding: 10px;
}

nav a {
    margin: 0px 20px;
    background-color: violet;
}

a {
    text-decoration: none;
}
